<!DOCTYPE html>
<html>
<head>
    <title>News</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div>
            <label for="category">Category:</label>
            <select name="category" id="category">
                <option value="general">General</option>
                <option value="business">Business</option>
                <option value="entertainment">Entertainment</option>
                <option value="health">Health</option>
                <option value="science">Science</option>
                <option value="sports">Sports</option>
                <option value="technology">Technology</option>
            </select>
        </div>
        <div id="news-container"></div>
    </div>
    {{>footer}}
    <script src="/js/berita.js"></script>
</body>
</html>