<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/profile.jpg">
            <div class="about-wrapper">
                <p>----------------------------------------------------------------------</p>
                <p>Hi, my name is Muhammad Rizky Sandyra</p>
                <p>i'm currently studying in UNIVERSITAS NEGERI PADANG</p>
                <p>my student ID number is 21343032</p>
                <p>i'm from Informatics major</p>
                <p>----------------------------------------------------------------------</p>
                <h3 style="margin: 0%;">My Skill:</h3>
                <p>HTML, CSS, Javascript, MySQL, PHP, Java, C, Python</p>
            </div>
        </div>
        {{>footer}}
    </body>
</html>